@font-face{
	font-family: 'Alice-Regular';
	src:url('Alice-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'BodoniFLF-Bold';
	src:url('BodoniFLF-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'BodoniFLF-Roman';
	src:url('BodoniFLF-Roman.ttf') format('truetype');
}
@font-face{
	font-family: 'Quattrocento-Regular';
	src:url('Quattrocento-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-Medium';
	src:url('Raleway-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-Light';
	src:url('Raleway-Light.ttf') format('truetype');
}
html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

.visual{
	display:flex;
	position: relative;
	width: 100%;
	height: 95%;
	float: left;
}
.bandeau{
	display:block;
	position: relative;
	width: 100%;
	float: left;
	background-color: black;
	margin:0;
	margin-top: 0%;
}
.nav{
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;
	width: 100%;
	float: left;
	margin-top:2%;
	margin-bottom:2%;
	background-color: #ADAEB1;
	padding-top: 1%;
	padding-bottom: 1%;
	height: 30px;
	box-shadow: 0px 0px 500px black;
	font-family: 'Raleway-Light';
	font-size: 120%;

}
ul{
	display: flex;
	padding-right:3%;
	justify-content: left;
	align-items: center;
	list-style-type: none;
	width: 100%;
}
ul li{
	margin-right: 0%;
	margin-left: 0%;
	align-content: center;
	width: 8%;
	text-align: center;
	min-width: 150px;
}
ul li a{
	color: white;
	text-decoration: none;
	border-left: solid 2px white;
	padding-left: 5%;
}
.container{
	position: relative;
	width: 100%;
	margin: 0px;
	display: block;
	float:left;
}
.article{
	/*width: 65%;*/
	position: relative;
	float : right;
	margin-bottom: 2%;
	/*margin-right: 2%;*/
	box-shadow: 0px 0px 500px grey;
	/*text-align: justify;*/
	width: 99%;
}
.info{
	display: flex;
	justify-content: flex-start ;
	align-items: flex-start;
	/*background-color: #ADAEB1;*/
	width: 100%;
}
.day{
	background-color: #ADAEB1;
	width: 8%;
	height: 80px;
	min-height: 60px;
	min-width: 60px;
	font-family: 'Alice-Regular';
	font-size: 4em;
	/*padding-top: 4px;*/
	/*padding-bottom: 15px;*/
	color: white;
	display:flex;
	justify-content: center;
}
.date{
	background-color: white;
	width: 18%;
	font-family: 'Alice-Regular';
	font-size: 200%;
	color:rgba(255,0,0, 1);
	margin-left:0%;
	padding-left: 1%;
	height: 80px;
	min-height: 60px;
	min-width: 100px;
	max-width: 120px;
}
.year{
	/*background-color: #B1AFA8;*/
	height: 60px;
	width: 100%;
	font-family: 'Alice-Regular';
	font-size: 1.6em;
	color:grey;
	margin-top: -9%;
	/*padding-bottom: 0%;*/
	/*display:flex;*/
}
.month{
	font-size: 0.8em;
	margin-top: 5%;
}

.title{
	background-color: #FEFCF7;
	padding-left: 2%;
	width: 64%;
	margin:0;
	font-family: 'Alice-Regular';
	font-weight: 300;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
.subtitle{
	display: flex;
	width: 64%;
	margin-left:23%;
	margin-right:10%;
	font-family: 'Alice-Regular';
	font-size: 150%;
	font-weight: 300;
}
.content{
	margin-right:10%;
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
}
.button{
	float:right;
	margin-right: 5%;
	font-size: 200%;
	color: red;
	text-decoration: none;
}
.form{
	width: 45%;
	box-shadow: 0px 0px 500px black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}
.selecteur{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.catch {
	background: url('logofestivalpetit.svg');
	width: 25%;
	max-width: 350px;
	min-width: 300px;
	min-height: 80px;
	/*height: 10%;*/
	display: flex;
	/*margin-left: 3%;*/
	margin-top: 20px;
	margin-bottom: 3%;
	position: relative;
	flex-direction:column;
	padding: 2%;
	/*box-shadow: 0px 0px 500px black;*/
}
.submit_btn{
	background-color: #FEFCF7; 
	margin-bottom: 2%;
}
.catchnumber {
	width: 100%;
	font-family: 'Raleway';
	font-size: 130%;
	margin-top: 2px;
	justify-content: flex-start;
}
.catchplace {
	width: 100%;
	font-family: 'Alice-Regular';
	font-size: 300%;
	color:rgba(255,0,0, 1);
	/*margin-left: 10%;*/
	text-align: center;
	display: inline-block;
	justify-content: center;
	margin-top: -13px;
}
.catchdate {
	width: 100%;
	font-family: 'Raleway';
	font-size: 130%;
	text-align: right;
	margin-bottom: 5px;
	margin-top: -10px;
	justify-content: flex-end;
}
.icon{
	float: right;
	padding-right: 2%;
}
.home{
	margin-left: 48%;
}
.comment_form{
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
}
.comment_list{
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: justify;
}
.ancre {
	position: absolute;
	margin-left: 5%;
	margin-top: 3000px;
	margin-bottom: 10%;
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
	/*body { 
		font-size: 3em;
		 }*/
		 .article{
		 width:65%;
		 margin-right: 3%;
		}
		.title {
		font-size: 2.5em;
		}
		.subtitle {
		font-size: 1.5em;
		}
		.content {
		font-size: 1.1em;
		}
		.comment_form{
		font-size: 1.1em;	
		}
		.comment_list{
		font-size: 1.1em;
		}
} 

@media screen and (min-width: 880px) and (max-width: 992px) {
	/*body { 
		font-size: 0.8em;
		 }*/
		 .article{
		 width:80%;
		 margin-right: 2%;
		}
		.title {
		font-size: 2em;
		}
		.subtitle {
		font-size: 1.2em;
		}
		.content {
		font-size: 0.9em;
		}
		.comment_form{
		font-size: 0.9em;	
		}
		.comment_list{
		font-size: 0.9em;
	}
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	/*body { 
		font-size: 0.6em;
		 }*/
		 .article{
		 width:90%;
		 margin-right: 1%;
		}
		.title {
		font-size: 1.5em;
		}
		.subtitle {
		font-size: 1.1em;
		}
		.content {
		font-size: 0.9em;
		}
		.comment_form{
		font-size: 0.9em;	
		}
		.comment_list{
		font-size: 0.9em;
	}
}

@media screen and (max-width:768px) {
	/*body {
		font-size: 0.6;
	}*/
	.article {
		width:99%;
		margin-right: 0%;
	}
	.title {
	font-size: 1.3em;
	}
	.subtitle {
	font-size: 1.1em;
	}
	.content {
	font-size: 0.9em;
	}
	.comment_form{
	font-size: 0.9em;	
	}
	.comment_list{
	font-size: 0.9em;
	}
}
/*@media (max-width: 992px) {
html { font-size: 0.9em!important; }
}
@media (max-width: 880px) {
html { font-size: 0.8em!important; }
}
@media (max-width: 768px) {
html { font-size: 0.6em!important; }
*/