@font-face{
	font-family: 'Alice-Regular';
	src:url('Alice-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'BodoniFLF-Bold';
	src:url('BodoniFLF-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'BodoniFLF-Roman';
	src:url('BodoniFLF-Roman.ttf') format('truetype');
}
@font-face{
	font-family: 'Quattrocento-Regular';
	src:url('Quattrocento-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-Medium';
	src:url('Raleway-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-Light';
	src:url('Raleway-Light.ttf') format('truetype');
}
html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

.visual{
	display:flex;
	position: relative;
	width: 100%;
	height: 95%;
	float: left;
}
.svgrotate {
	display:block;
	position:absolute;
	margin-top:15%;
	margin-left: 0.5%;
	opacity: 0.5;
}
.bandeau{
	display:block;
	position: relative;
	width: 100%;
	float: left;
	background-color: black;
	margin:0;
	margin-top: 0%;
}
.nav{
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;
	width: 100%;
	float: left;
	margin-top:2%;
	margin-bottom:2%;
	background-color: #ADAEB1;
	padding-top: 1%;
	padding-bottom: 1%;
	height: 30px;
	box-shadow: 0px 0px 500px black;
	font-family: 'Raleway-Light';
	font-size: 140%;

}
ul{
	display: flex;
	padding-right:3%;
	justify-content: left;
	align-items: center;
	list-style-type: none;
	width: 100%;
}
ul li{
	margin: 1%;
	align-content: center;
	width: 10%;
	text-align: center;
	min-width: 150px;
}
ul li a{
	color: white;
	text-decoration: none;
	border-left: solid 2px white;
	padding-left: 5%;
}
.container{
	position: relative;
	width: 100%;
	margin: 0px;
	display: block;
	float:left;
}
.article{
	width: 65%;
	position: relative;
	float : right;
	margin-bottom: 2%;
	box-shadow: 0px 0px 500px black;
	/*text-align: justify;*/
}
.info{
	display: flex;
	justify-content: flex-start ;
	align-items: flex-start;
	/*background-color: #ADAEB1;*/
	width: 100%;
}
.day{
	background-color: #ADAEB1;
	width: 8%;
	font-family: 'Alice-Regular';
	font-size: 400%;
	padding-left: 1%;
	padding-top: 4px;
	padding-bottom: 15px;
	color: white;
	display:flex;
}
.date{
	background-color: white;
	width: 18%;
	font-family: 'Alice-Regular';
	font-size: 200%;
	color:rgba(255,0,0,0.5);
	margin-left:0%;
	
}
.year{
	/*background-color: #B1AFA8;*/
	height: 60px;
	width: 100%;
	font-family: 'Alice-Regular';
	font-size: 100%;
	color:black;
	margin-top: -3%;
	padding-bottom: 0%;
	/*display:flex;*/
}
.month{
	font-size: 100%;
}

.title{
	background-color: #FEFCF7;
	/*padding-right: 340%;*/
	width: 64%;
	margin:0;
	font-family: 'Alice-Regular';
	font-size: 300%;
	font-weight: 300;
	/*letter-spacing: 1px;*/
	/*margin-left: 72%;*/
	/*display: flex;*/
}
.subtitle{
	display: flex;
	width: 64%;
	margin-left:27%;
	margin-right:10%;
	font-family: 'Alice-Regular';
	font-size: 150%;
	font-weight: 300;
}
.content{
	margin-right:10%;
	margin-left: 9%;
	font-family: 'Raleway-Light';
	font-size: 110%;
	text-align: left;
}
.button{
	float:right;
	margin-right: 5%;
	font-size: 200%;
	color: red;
	text-decoration: none;
}
.form{
	width: 45%;
	box-shadow: 0px 0px 500px black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}
.selecteur{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.catch {
	background-color: #FEFCF7;
	width: 25%;
	max-width: 300px;
	min-width: 250px;
	/*height: 10%;*/
	display: flex;
	margin-left: 3%;
	margin-top: 20px;
	position: relative;
	flex-direction:column;
}
.submit_btn{
	background-color: #FEFCF7; 
	margin-bottom: 2%;
}
.catchnumber {
	width: 100%;
	font-family: 'Raleway';
	font-size: 130%;
	margin-top: 5px;
	justify-content: flex-start;
}
.catchplace {
	width: 100%;
	font-family: 'Alice-Regular';
	font-size: 300%;
	color: grey;
	/*margin-left: 10%;*/
	text-align: center;
	display: inline-block;
	justify-content: center;
}
.catchdate {
	width: 100%;
	font-family: 'Raleway';
	font-size: 130%;
	text-align: right;
	margin-bottom: 5px;
	justify-content: flex-end;
}
@media (max-width: 1200px) {
html { font-size: 1em!important; }
}

@media (max-width: 992px) {
html { font-size: 0.9em!important; }
}
@media (max-width: 880px) {
html { font-size: 0.8em!important; }
}
@media (max-width: 768px) {
html { font-size: 0.8em!important; }
