<!DOCTYPE html>
<html>
<head>
  <title>BlogFcl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width"> 
   <style>
   	div {
   		-webkit-hyphens: auto;
   	}
   	</style>
</head>
<body>

<%= yield %>

</body>
</html>
